 <!-- tap on top starts-->
 <div class="tap-top"><i data-feather="chevrons-up"></i></div>
 <!-- tap on tap ends-->
 <!-- Loader starts-->
 <div class="loader-wrapper">
   <div class="dot"></div>
   <div class="dot"></div>
   <div class="dot"></div>
   <div class="dot"> </div>
   <div class="dot"></div>
 </div>
 <!-- Loader ends-->
 <!-- page-wrapper Start-->
 <div class="page-wrapper compact-wrapper" id="pageWrapper">
   <!-- Page Header Start-->
   <div class="page-header">
     <div class="header-wrapper row m-0">
       <div class="header-logo-wrapper col-auto p-0">
         <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
         <div class="logo-header-main">
            <% if(general.light_image == null){ %>
                <a href="index.html"><img class="img-fluid for-light img-100" src="../assets/images/logo/logo2.png" alt=""><img class="img-fluid for-dark" src="../assets/images/logo/logo.png" alt=""></a>
            <% } else { %>
                <a href="index.html"><img class="img-fluid for-light img-100" src="../../<%=general.light_image%>" alt=""><img class="img-fluid for-dark" src="../../<%=general.dark_image%>" alt=""></a>
            <% }; %>
        </div>
       </div>
       <div class="left-header col horizontal-wrapper ps-0">
       </div>
       <div class="nav-right col-6 pull-right right-header p-0">
         <ul class="nav-menus">
           <li></li>
           <li>
            <div class="mode" id="dark_mode"><i class="fa fa-moon-o"></i></div>
           </li>
           <li class="maximize"><a href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize-2"></i></a></li>
           <li class="language-nav">
             <div class="translate_wrapper">
               <div class="current_lang">
                 <div class="lang"><i data-feather="globe"></i></div>
               </div>
               <div class="more_lang">
                <div class="lang" id="en" data-value="en"><i class="flag-icon flag-icon-us"></i><span class="lang-txt">English<span> (US)</span></span></div>
                <div class="lang" id="in" data-value="in"><i class="flag-icon flag-icon-in"></i><span class="lang-txt">Hindi</span></div>
                <div class="lang" id="de" data-value="de"><i class="flag-icon flag-icon-de"></i><span class="lang-txt">Deutsch</span></div>
                <div class="lang" id="pt" data-value="pt"><i class="flag-icon flag-icon-pt"></i><span class="lang-txt">Portugu&ecirc;s<span> (BR)</span></span></div>
                <div class="lang" id="es" data-value="es"><i class="flag-icon flag-icon-es"></i><span class="lang-txt">Espa&ntilde;ol</span></div>
                <div class="lang" id="fr" data-value="fr"><i class="flag-icon flag-icon-fr"></i><span class="lang-txt">Fran&ccedil;ais</span></div>
                <div class="lang" id="cn" data-value="cn"><i class="flag-icon flag-icon-cn"></i><span class="lang-txt">&#x7B80;&#x4F53;&#x4E2D;&#x6587;</span></div>
                <div class="lang" id="ae" data-value="ae"><i class="flag-icon flag-icon-ae"></i><span class="lang-txt">&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629; <span> (ae)</span></span></div>
               </div>
             </div>
           </li>
           <li class="profile-nav onhover-dropdown">
             <div class="account-user"><i data-feather="user"></i></div>
             <ul class="profile-dropdown onhover-show-div">
               <li><a href="/profile"><i data-feather="user"></i><span><%=lan.Account%></span></a></li>
               <li><a href="/logout"><i data-feather="log-in"> </i><span><%=lan.Log_Out%></span></a></li>
             </ul>
           </li>
         </ul>
       </div>
       <script class="result-template" type="text/x-handlebars-template">
         <div class="ProfileCard u-cf">                        
         <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
         <div class="ProfileCard-details">
         <div class="ProfileCard-realName">{{name}}</div>
         </div>
         </div>
       </script>
     </div>
   </div>
   <!-- Page Header Ends-->
   <!-- Page Body Start-->
   <div class="page-body-wrapper">
     <!-- Page Sidebar Start-->
     <div class="sidebar-wrapper">
       <div>
         <div class="logo-wrapper mt-2" style="padding-top: 10px !important;">
            <% if(general.light_image == null){ %>
                <a href="/index">
                  <img class="img-fluid for-light img-50" src="../../images/dashboard/default/profile.png" alt="">
                  <span class="f-20 f-w-700 text-white pt-5"><%= general.title %></span>
                </a>
            <% } else { %>
                <a href="/index">
                  <img class="img-fluid for-light" style="width: 130px;" src="../../<%=general.light_image%>" alt="">
                </a>
            <% }; %>
            <div class="back-btn"><i data-feather="grid"></i></div>
            <div class="toggle-sidebar icon-box-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
         </div>
         <div class="logo-icon-wrapper"><a href="index.html">
             <div class="icon-box-sidebar"><i data-feather="grid"></i></div></a></div>
         <nav class="sidebar-main">
           <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
           <div id="sidebar-menu">
             <ul class="sidebar-links" id="simple-bar">
               <li class="back-btn">
                 <div class="mobile-back text-end"><span><%=lan.Back%></span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
               </li>
               <li class="menu-box">
                 <ul>
                    <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/index">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2 10.9999L10.7901 3.9678C11.5023 3.39803 12.5098 3.38229 13.2395 3.92954L22 10.9999M19.5 8.9999V18.9999C19.5 20.1045 18.6046 20.9999 17.5 20.9999H6.5C5.39543 20.9999 4.5 20.1045 4.5 18.9999V8.9999M14.5 20.9999V14.9999C14.5 13.8953 13.6046 12.9999 12.5 12.9999H11.5C10.3954 12.9999 9.5 13.8953 9.5 14.9999V20.9999H14.5Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>


                    </i><span><%=lan.Dashboard%></span></a></li>

                    <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21 12C21 16.9706 16.9706 21 12 21M21 12C21 7.02944 16.9706 3 12 3M21 12H19M12 21C7.02944 21 3 16.9706 3 12M12 21V19M3 12C3 7.02944 7.02944 3 12 3M3 12H5M12 3V5M13.9186 8.86869L10.4608 9.73316C10.1025 9.82273 9.82273 10.1025 9.73316 10.4608L8.86869 13.9186C8.6856 14.651 9.34899 15.3144 10.0814 15.1313L13.5392 14.2668C13.8975 14.1773 14.1773 13.8975 14.2668 13.5392L15.1313 10.0814C15.3144 9.34899 14.651 8.6856 13.9186 8.86869Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
</svg>

                    </i><span><%=lan.Mange%> <%=lan.Rides%></span></a>
                      <ul class="sidebar-submenu">
                        <li><a class="lan-4" href="/rides/new"><%=lan.New%> <%=lan.Rides%></a></li>
                        <li><a class="lan-4" href="/rides/running"><%=lan.Running%> <%=lan.Rides%></a></li>
                        <li><a class="lan-4" href="/rides/completed"><%=lan.Completed%> <%=lan.Rides%></a></li>
                        <li><a class="lan-4" href="/rides/cancelled"><%=lan.Cancelled%> <%=lan.Rides%></a></li>
                        <li><a class="lan-4" href="/rides/all"><%=lan.All%> <%=lan.Rides%></a></li>
                      </ul>
                    </li>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM12 21C13.8394 21 15.55 20.4482 16.9751 19.5011C16.9264 19.0156 16.8068 18.539 16.6194 18.0866C16.3682 17.48 15.9999 16.9288 15.5356 16.4645C15.0713 16.0002 14.5201 15.6319 13.9135 15.3806C13.3068 15.1293 12.6567 15 12.0001 15C11.3434 15 10.6933 15.1293 10.0866 15.3806C9.48001 15.6319 8.92881 16.0002 8.46452 16.4645C8.00022 16.9288 7.63193 17.48 7.38065 18.0866C7.19326 18.539 7.07369 19.0156 7.025 19.5011C8.45013 20.4482 10.1606 21 12 21ZM15 10C15 11.6569 13.6569 13 12 13C10.3431 13 9 11.6569 9 10C9 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      </i><span><%=lan.Customer%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/customer/add"><%=lan.Add%> <%=lan.Customer%></a></li>
                          <li><a class="lan-4" href="/customer/list"><%=lan.Customer%> <%=lan.List%></a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <% if (per.customer[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM12 21C13.8394 21 15.55 20.4482 16.9751 19.5011C16.9264 19.0156 16.8068 18.539 16.6194 18.0866C16.3682 17.48 15.9999 16.9288 15.5356 16.4645C15.0713 16.0002 14.5201 15.6319 13.9135 15.3806C13.3068 15.1293 12.6567 15 12.0001 15C11.3434 15 10.6933 15.1293 10.0866 15.3806C9.48001 15.6319 8.92881 16.0002 8.46452 16.4645C8.00022 16.9288 7.63193 17.48 7.38065 18.0866C7.19326 18.539 7.07369 19.0156 7.025 19.5011C8.45013 20.4482 10.1606 21 12 21ZM15 10C15 11.6569 13.6569 13 12 13C10.3431 13 9 11.6569 9 10C9 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </i><span><%=lan.Customer%></span></a>
                          <ul class="sidebar-submenu">
                            <% if (per.customer[1] == "1") { %>
                              <li><a class="lan-4" href="/customer/add"><%=lan.Add%> <%=lan.Customer%></a></li>
                            <% }; %>
                            <li><a class="lan-4" href="/customer/list"><%=lan.Customer%> <%=lan.List%></a></li>
                          </ul>
                        </li>
                      <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.4519 18.1989H4.4519C3.89962 18.1989 3.4519 18.6466 3.4519 19.1989V20.1989C3.4519 20.7512 3.89962 21.1989 4.4519 21.1989H19.4519C20.0042 21.1989 20.4519 20.7512 20.4519 20.1989V19.1989C20.4519 18.6466 20.0042 18.1989 19.4519 18.1989ZM19.4519 18.1989L5.45758 18.1989C5.22441 17.9518 5.00457 17.6908 4.79939 17.4169C3.67422 15.9147 3.04601 14.0989 3.00243 12.2226C2.95885 10.3463 3.50206 8.50316 4.55628 6.95042C5.6105 5.39768 7.12313 4.21276 8.88312 3.56098C10.6431 2.9092 12.5627 2.82308 14.374 3.31464C15.8623 3.71856 17.2165 4.49596 18.3118 5.56597C18.7068 5.95191 18.6405 6.58666 18.2132 6.93656L13.1252 11.1028M19.4519 18.1989V16.7836C19.4519 16.4224 19.2571 16.0893 18.9423 15.9121L13.3677 12.7754M13.3677 12.7754L17.8394 15.2916C18.8398 14.2196 19.4519 12.7808 19.4519 11.1989C19.4519 9.65505 18.8688 8.24739 17.9109 7.18413L13.1252 11.1028M13.3677 12.7754C13.1202 13.5989 12.3562 14.1989 11.452 14.1989M11.452 14.1989C10.3474 14.1989 9.45201 13.3035 9.45201 12.1989C9.45201 11.0943 10.3474 10.1989 11.452 10.1989M11.452 14.1989C12.5566 14.1989 13.4519 13.3035 13.4519 12.1989C13.4519 11.0943 12.5566 10.1989 11.452 10.1989M11.452 10.1989C12.1519 10.1989 12.7678 10.5584 13.1252 11.1028" stroke="#fff" stroke-width="1.5" stroke-linejoin="round"/>
</svg>


                      </i><span><%=lan.Driver%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/driver/add"><%=lan.Add%> <%=lan.Driver%></a></li>
                          <li><a class="lan-4" href="/driver/list"><%=lan.Driver%> <%=lan.List%></a></li>
                          <li><a class="lan-4" href="/driver/preference"><%=lan.Vehicle%> <%=lan.Preference%></a></li>
                          <li><a class="lan-4" href="/driver/setting"><%=lan.Document%> <%=lan.Setting%></a></li>
                          <li><a class="lan-4" href="/driver/default_message"><%=lan.Default%> <%=lan.Notification%></a></li>
                          <li><a class="lan-4" href="/settings/cash_adjustment"><%=lan.Cash_Management%></a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <% if (per.driver[0] == "1" || per.vehicle_pre[0] == "1" || per.doc_setting[0] == "1" || per.def_notification[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.4519 18.1989H4.4519C3.89962 18.1989 3.4519 18.6466 3.4519 19.1989V20.1989C3.4519 20.7512 3.89962 21.1989 4.4519 21.1989H19.4519C20.0042 21.1989 20.4519 20.7512 20.4519 20.1989V19.1989C20.4519 18.6466 20.0042 18.1989 19.4519 18.1989ZM19.4519 18.1989L5.45758 18.1989C5.22441 17.9518 5.00457 17.6908 4.79939 17.4169C3.67422 15.9147 3.04601 14.0989 3.00243 12.2226C2.95885 10.3463 3.50206 8.50316 4.55628 6.95042C5.6105 5.39768 7.12313 4.21276 8.88312 3.56098C10.6431 2.9092 12.5627 2.82308 14.374 3.31464C15.8623 3.71856 17.2165 4.49596 18.3118 5.56597C18.7068 5.95191 18.6405 6.58666 18.2132 6.93656L13.1252 11.1028M19.4519 18.1989V16.7836C19.4519 16.4224 19.2571 16.0893 18.9423 15.9121L13.3677 12.7754M13.3677 12.7754L17.8394 15.2916C18.8398 14.2196 19.4519 12.7808 19.4519 11.1989C19.4519 9.65505 18.8688 8.24739 17.9109 7.18413L13.1252 11.1028M13.3677 12.7754C13.1202 13.5989 12.3562 14.1989 11.452 14.1989M11.452 14.1989C10.3474 14.1989 9.45201 13.3035 9.45201 12.1989C9.45201 11.0943 10.3474 10.1989 11.452 10.1989M11.452 14.1989C12.5566 14.1989 13.4519 13.3035 13.4519 12.1989C13.4519 11.0943 12.5566 10.1989 11.452 10.1989M11.452 10.1989C12.1519 10.1989 12.7678 10.5584 13.1252 11.1028" stroke="#fff" stroke-width="1.5" stroke-linejoin="round"/>
</svg>
                        </i><span><%=lan.Driver%></span></a>
                          <ul class="sidebar-submenu">
                            <% if (per.driver[1] == "1") { %>
                              <li><a class="lan-4" href="/driver/add"><%=lan.Add%> <%=lan.Driver%></a></li>
                            <% }; %>
                            <% if (per.driver[0] == "1") { %>
                              <li><a class="lan-4" href="/driver/list"><%=lan.Driver%> <%=lan.List%></a></li>
                            <% }; %>
                            <% if (per.vehicle_pre[0] == "1") { %>
                              <li><a class="lan-4" href="/driver/preference"><%=lan.Vehicle%> <%=lan.Preference%></a></li>
                            <% }; %>
                            <% if (per.doc_setting[0] == "1") { %>
                              <li><a class="lan-4" href="/driver/setting"><%=lan.Document%> <%=lan.Setting%></a></li>
                            <% }; %>
                            <% if (per.def_notification[0] == "1") { %>
                              <li><a class="lan-4" href="/driver/default_message"><%=lan.Default%> <%=lan.Notification%></a></li>
                            <% }; %>
                          </ul>
                        </li>
                      <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 14.5H8M10.5 14.5H13.5M16 14.5H18M4.5 11L3 9M4.5 11H19.5M4.5 11L5.66123 5.58094C5.85883 4.6588 6.67376 4 7.61683 4H16.3832C17.3262 4 18.1412 4.6588 18.3388 5.58094L19.5 11M19.5 11L21 9M5 18H19M5 18C3.89543 18 3 17.1046 3 16V13C3 11.8954 3.89543 11 5 11H19C20.1046 11 21 11.8954 21 13V16C21 17.1046 20.1046 18 19 18M5 18H9V19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19L5 18ZM19 18H15V19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19V18Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      </i><span><%=lan.Vehicle%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/vehicle/add"><%=lan.Add%> <%=lan.Vehicle%></a></li>
                          <li><a class="lan-4" href="/vehicle/list"><%=lan.Vehicle%> <%=lan.List%></a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <% if (per.vehicle[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 14.5H8M10.5 14.5H13.5M16 14.5H18M4.5 11L3 9M4.5 11H19.5M4.5 11L5.66123 5.58094C5.85883 4.6588 6.67376 4 7.61683 4H16.3832C17.3262 4 18.1412 4.6588 18.3388 5.58094L19.5 11M19.5 11L21 9M5 18H19M5 18C3.89543 18 3 17.1046 3 16V13C3 11.8954 3.89543 11 5 11H19C20.1046 11 21 11.8954 21 13V16C21 17.1046 20.1046 18 19 18M5 18H9V19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19L5 18ZM19 18H15V19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19V18Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </i><span><%=lan.Vehicle%></span></a>
                          <ul class="sidebar-submenu">
                            <% if (per.vehicle[1] == "1") { %>
                              <li><a class="lan-4" href="/vehicle/add"><%=lan.Add%> <%=lan.Vehicle%></a></li>
                            <% }; %>
                            <li><a class="lan-4" href="/vehicle/list"><%=lan.Vehicle%> <%=lan.List%></a></li>
                          </ul>
                        </li>
                      <% }; %>
                    <% }; %>
                    

                    <% if(general.outstation == "1") { %>
                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 6H14C15.6569 6 17 7.34315 17 9C17 10.6569 15.6569 12 14 12H10C8.34315 12 7 13.3431 7 15C7 16.6569 8.34315 18 10 18H12M9 5.82076C9 6.46866 8.76769 7.06553 8.37711 7.54177L6.66612 9.68679C6.33301 10.1044 5.66679 10.1044 5.33368 9.68679L3.61413 7.53104C3.22884 7.05658 3 6.4638 3 5.82076C3 4.2629 4.34315 3 6 3C7.65685 3 9 4.2629 9 5.82076ZM21 16.8208C21 17.4687 20.7677 18.0655 20.3771 18.5418L18.6661 20.6868C18.333 21.1044 17.6668 21.1044 17.3337 20.6868L15.6141 18.531C15.2288 18.0566 15 17.4638 15 16.8208C15 15.2629 16.3431 14 18 14C19.6569 14 21 15.2629 21 16.8208Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.5 5.5C6.5 5.77614 6.27614 6 6 6C5.72386 6 5.5 5.77614 5.5 5.5C5.5 5.22386 5.72386 5 6 5C6.27614 5 6.5 5.22386 6.5 5.5Z" stroke="#fff" stroke-linejoin="round"/>
<path d="M18.5 16.5C18.5 16.7761 18.2761 17 18 17C17.7239 17 17.5 16.7761 17.5 16.5C17.5 16.2239 17.7239 16 18 16C18.2761 16 18.5 16.2239 18.5 16.5Z" stroke="#fff" stroke-linejoin="round"/>
</svg>

                      </i><span><%=lan.Outstation%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/outstation/category"><%=lan.Outstation%> <%=lan.Category%></a></li>
                          <li><a class="lan-4" href="/outstation/list"><%=lan.Outstation%> <%=lan.List%></a></li>
                          <li><a class="lan-4" href="/outstation/setting"><%=lan.Outstation%> <%=lan.Setting%></a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <% if (per.out_category[0] == "1" || per.out_list[0] == "1" || per.out_setting[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 6H14C15.6569 6 17 7.34315 17 9C17 10.6569 15.6569 12 14 12H10C8.34315 12 7 13.3431 7 15C7 16.6569 8.34315 18 10 18H12M9 5.82076C9 6.46866 8.76769 7.06553 8.37711 7.54177L6.66612 9.68679C6.33301 10.1044 5.66679 10.1044 5.33368 9.68679L3.61413 7.53104C3.22884 7.05658 3 6.4638 3 5.82076C3 4.2629 4.34315 3 6 3C7.65685 3 9 4.2629 9 5.82076ZM21 16.8208C21 17.4687 20.7677 18.0655 20.3771 18.5418L18.6661 20.6868C18.333 21.1044 17.6668 21.1044 17.3337 20.6868L15.6141 18.531C15.2288 18.0566 15 17.4638 15 16.8208C15 15.2629 16.3431 14 18 14C19.6569 14 21 15.2629 21 16.8208Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.5 5.5C6.5 5.77614 6.27614 6 6 6C5.72386 6 5.5 5.77614 5.5 5.5C5.5 5.22386 5.72386 5 6 5C6.27614 5 6.5 5.22386 6.5 5.5Z" stroke="#fff" stroke-linejoin="round"/>
<path d="M18.5 16.5C18.5 16.7761 18.2761 17 18 17C17.7239 17 17.5 16.7761 17.5 16.5C17.5 16.2239 17.7239 16 18 16C18.2761 16 18.5 16.2239 18.5 16.5Z" stroke="#fff" stroke-linejoin="round"/>
</svg>
                        </i><span><%=lan.Outstation%></span></a>
                          <ul class="sidebar-submenu">
                            <% if (per.out_category[0] == "1") { %>
                              <li><a class="lan-4" href="/outstation/category"><%=lan.Outstation%> <%=lan.Category%></a></li>
                            <% }; %>
                            <% if (per.out_list[0] == "1") { %>
                              <li><a class="lan-4" href="/outstation/list"><%=lan.Outstation%> <%=lan.List%></a></li>
                            <% }; %>
                            <% if (per.out_setting[0] == "1") { %>
                              <li><a class="lan-4" href="/outstation/setting"><%=lan.Outstation%> <%=lan.Setting%></a></li>
                            <% }; %>
                          </ul>
                        </li>
                      <% }; %>
                    <% }; %>
                    <% }; %>
                    
                    <% if(general.rental == "1") { %>
                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.5 16.5V18.5H10.3724C8.76623 18.5 7.445 17.235 7.37523 15.6303L7.1361 10.1303C7.06191 8.42393 8.42528 7 10.1333 7H13.8667C15.5747 7 16.9381 8.42393 16.8639 10.1303L16.6248 15.6303C16.555 17.235 15.2338 18.5 13.6276 18.5H13.5V16.5M10.5 16.5C10.5 15.6716 11.1716 15 12 15C12.8284 15 13.5 15.6716 13.5 16.5M10.5 16.5V19.5C10.5 20.3284 11.1716 21 12 21C12.8284 21 13.5 20.3284 13.5 19.5V16.5M14 5H14.7094C15.1816 5 15.6007 4.69789 15.75 4.25C15.8993 3.80211 16.3184 3.5 16.7906 3.5H18M14 5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5M14 5C14 6.10457 13.1046 7 12 7C10.8954 7 10 6.10457 10 5M10 5H9.29057C8.81845 5 8.3993 4.69789 8.25 4.25C8.1007 3.80211 7.68155 3.5 7.20943 3.5H6M13.25 12H10.75" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      </i><span><%=lan.Rental%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/rental/add"><%=lan.Add%> <%=lan.Rental%></a></li>
                          <li><a class="lan-4" href="/rental/list"><%=lan.Rental%> <%=lan.List%></a></li>
                          <li><a class="lan-4" href="/rental/setting"><%=lan.Rental%> <%=lan.Setting%></a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <% if (per.rental_list[0] == "1" || per.rental_setting[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.5 16.5V18.5H10.3724C8.76623 18.5 7.445 17.235 7.37523 15.6303L7.1361 10.1303C7.06191 8.42393 8.42528 7 10.1333 7H13.8667C15.5747 7 16.9381 8.42393 16.8639 10.1303L16.6248 15.6303C16.555 17.235 15.2338 18.5 13.6276 18.5H13.5V16.5M10.5 16.5C10.5 15.6716 11.1716 15 12 15C12.8284 15 13.5 15.6716 13.5 16.5M10.5 16.5V19.5C10.5 20.3284 11.1716 21 12 21C12.8284 21 13.5 20.3284 13.5 19.5V16.5M14 5H14.7094C15.1816 5 15.6007 4.69789 15.75 4.25C15.8993 3.80211 16.3184 3.5 16.7906 3.5H18M14 5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5M14 5C14 6.10457 13.1046 7 12 7C10.8954 7 10 6.10457 10 5M10 5H9.29057C8.81845 5 8.3993 4.69789 8.25 4.25C8.1007 3.80211 7.68155 3.5 7.20943 3.5H6M13.25 12H10.75" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </i><span><%=lan.Rental%></span></a>
                          <ul class="sidebar-submenu">
                            <% if (per.rental_list[1] == "1") { %>
                              <li><a class="lan-4" href="/rental/add"><%=lan.Add%> <%=lan.Rental%></a></li>
                            <% }; %>
                            <% if (per.rental_list[0] == "1") { %>
                              <li><a class="lan-4" href="/rental/list"><%=lan.Rental%> <%=lan.List%></a></li>
                            <% }; %>
                            <% if (per.rental_setting[0] == "1") { %>
                              <li><a class="lan-4" href="/rental/setting"><%=lan.Rental%> <%=lan.Setting%></a></li>
                            <% }; %>
                          </ul>
                        </li>
                      <% }; %>
                    <% }; %>
                    <% }; %>
                   
                    <% if(general.package == "1") { %>
                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.5 7.50002L12 11M12 11L20.5 7.50002M12 11V19.6726M8 5.00002L16.5 9.00002M9.5 16.5L8 16M11.1877 3.36104L4.18772 6.47215C3.46547 6.79315 3 7.50939 3 8.29977V15.7003C3 16.4907 3.46547 17.2069 4.18772 17.5279L11.1877 20.639C11.7049 20.8688 12.2951 20.8688 12.8123 20.639L19.8123 17.5279C20.5345 17.2069 21 16.4907 21 15.7003V8.29977C21 7.50939 20.5345 6.79315 19.8123 6.47215L12.8123 3.36104C12.2951 3.1312 11.7049 3.1312 11.1877 3.36104Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      </i><span><%=lan.Package%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/package/add"><%=lan.Add%> <%=lan.Package%></a></li>
                          <li><a class="lan-4" href="/package/list"><%=lan.Package%> <%=lan.List%></a></li>
                          <li><a class="lan-4" href="/package/setting"><%=lan.Package%> <%=lan.Setting%></a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <% if (per.pack_category[0] == "1" || per.pack_setting[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.5 7.50002L12 11M12 11L20.5 7.50002M12 11V19.6726M8 5.00002L16.5 9.00002M9.5 16.5L8 16M11.1877 3.36104L4.18772 6.47215C3.46547 6.79315 3 7.50939 3 8.29977V15.7003C3 16.4907 3.46547 17.2069 4.18772 17.5279L11.1877 20.639C11.7049 20.8688 12.2951 20.8688 12.8123 20.639L19.8123 17.5279C20.5345 17.2069 21 16.4907 21 15.7003V8.29977C21 7.50939 20.5345 6.79315 19.8123 6.47215L12.8123 3.36104C12.2951 3.1312 11.7049 3.1312 11.1877 3.36104Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </i><span><%=lan.Package%></span></a>
                          <ul class="sidebar-submenu">
                            <% if (per.pack_category[1] == "1") { %>
                               <li><a class="lan-4" href="/package/add"><%=lan.Add%> <%=lan.Package%></a></li>
                            <% }; %>
                            <% if (per.pack_category[0] == "1") { %>
                              <li><a class="lan-4" href="/package/list"><%=lan.Package%> <%=lan.List%></a></li>
                            <% }; %>
                            <% if (per.pack_setting[0] == "1") { %>
                              <li><a class="lan-4" href="/package/setting"><%=lan.Package%> <%=lan.Setting%></a></li>
                            <% }; %>
                          </ul>
                        </li>
                      <% }; %>
                    <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 6V15M7.5 15H14.9277C15.2214 15 15.5105 15.0723 15.7697 15.2105L19.5294 17.2157C20.1955 17.5709 21 17.0883 21 16.3333V4.66666C21 3.91174 20.1955 3.42905 19.5294 3.78431L15.7697 5.78951C15.5105 5.92771 15.2214 6 14.9277 6H7.5C5.01472 6 3 8.01472 3 10.5C3 12.9853 5.01472 15 7.5 15ZM7 15L8.65404 19.9621C8.86064 20.5819 9.44069 21 10.094 21C11.1301 21 11.8617 19.985 11.534 19.0021L10.2 15H7Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      </i><span><%=lan.Ride%> <%=lan.Information%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/settings/ride_cancel"><%=lan.Cancel%> <%=lan.Reason%></a></li>
                          <li><a class="lan-4" href="/settings/ride_review"><%=lan.Review%> <%=lan.List%></a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <% if (per.ride_cancel_reason[0] == "1" || per.ride_review_list[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 6V15M7.5 15H14.9277C15.2214 15 15.5105 15.0723 15.7697 15.2105L19.5294 17.2157C20.1955 17.5709 21 17.0883 21 16.3333V4.66666C21 3.91174 20.1955 3.42905 19.5294 3.78431L15.7697 5.78951C15.5105 5.92771 15.2214 6 14.9277 6H7.5C5.01472 6 3 8.01472 3 10.5C3 12.9853 5.01472 15 7.5 15ZM7 15L8.65404 19.9621C8.86064 20.5819 9.44069 21 10.094 21C11.1301 21 11.8617 19.985 11.534 19.0021L10.2 15H7Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </i><span><%=lan.Ride%> <%=lan.Information%></span></a>
                          <ul class="sidebar-submenu">
                            <% if (per.ride_cancel_reason[0] == "1") { %>
                              <li><a class="lan-4" href="/settings/ride_cancel"><%=lan.Cancel%> <%=lan.Reason%></a></li>
                            <% }; %>
                            <% if (per.ride_review_list[0] == "1") { %>
                              <li><a class="lan-4" href="/settings/ride_review"><%=lan.Review%> <%=lan.List%></a></li>
                            <% }; %>
                          </ul>
                        </li>
                      <% }; %>
                    <% }; %>
                   
                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.6965 19.6519L12.3728 20.8137C12.1382 20.931 11.8622 20.931 11.6277 20.8137L9.81082 19.9053M14.6965 19.6519C15.5621 19.2191 16.3689 18.6774 17.0972 18.0401L17.634 17.5704C19.1685 16.2278 20.217 14.4163 20.6168 12.4169C20.8696 11.1529 20.8558 9.85 20.5761 8.59163L20.1464 6.6577C20.0552 6.24742 19.7629 5.91099 19.3694 5.76341L12.7025 3.26333C12.2497 3.09354 11.7507 3.09354 11.298 3.26333L4.60388 5.77361C4.22732 5.91482 3.9476 6.23675 3.86036 6.62935L3.43304 8.55227C3.14797 9.8351 3.14797 11.1649 3.43304 12.4477C3.80347 14.1146 4.64155 15.6413 5.84898 16.8488L6.56882 17.5686C7.51688 18.5167 8.61159 19.3057 9.81082 19.9053M14.6965 19.6519C15.4159 19.2922 16.0948 18.8573 16.7217 18.3548C16.6902 18.2645 16.6562 18.1751 16.6195 18.0866C16.3682 17.48 15.9999 16.9288 15.5356 16.4645C15.0713 16.0002 14.5201 15.6319 13.9135 15.3806C13.3069 15.1293 12.6567 15 12.0001 15C11.3435 15 10.6933 15.1293 10.0867 15.3806C9.48005 15.6319 8.92886 16.0002 8.46457 16.4645C8.00027 16.9288 7.63198 17.48 7.3807 18.0866C7.35751 18.1426 7.33536 18.1989 7.31425 18.2556C8.07635 18.9029 8.9143 19.457 9.81082 19.9053M15 10C15 11.6569 13.6569 13 12 13C10.3431 13 9 11.6569 9 10C9 8.34315 10.3431 7 12 7C13.6569 7 15 8.34315 15 10Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                      </i><span><%=lan.Role%> <%=lan.Permission%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/role/add"><%=lan.Add%> <%=lan.Permission%></a></li>
                          <li><a class="lan-4" href="/role/list"><%=lan.Role%> <%=lan.Permission%> <%=lan.List%></a></li>
                        </ul>
                      </li>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3 3V17C3 19.2091 4.79086 21 7 21H21M18.2998 8.39971L14.3082 12.6412C13.885 13.0909 13.1593 13.0533 12.7848 12.5623L12.0507 11.5997C11.6776 11.1106 10.9556 11.0711 10.5314 11.5165L7.49981 14.6997M18.2998 8.39971H15.5998M18.2998 8.39971V11.0997" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      </i><span><%=lan.Vehicle%> <%=lan.Report%></span></a>
                        <ul class="sidebar-submenu">
                          <li><a class="lan-4" href="/report/vehicle_daily"><%=lan.Daily%> <%=lan.Report%></a></li>
                          <li><a class="lan-4" href="/report/ride_payment"><%=lan.Ride%> <%=lan.Payment%> <%=lan.Report%></a></li>
                        </ul>
                      </li>
                    <% } else { %>
                      <% if (per.vehicle_report[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3 3V17C3 19.2091 4.79086 21 7 21H21M18.2998 8.39971L14.3082 12.6412C13.885 13.0909 13.1593 13.0533 12.7848 12.5623L12.0507 11.5997C11.6776 11.1106 10.9556 11.0711 10.5314 11.5165L7.49981 14.6997M18.2998 8.39971H15.5998M18.2998 8.39971V11.0997" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg> 
                        </i><span><%=lan.Vehicle%> <%=lan.Report%></span></a>
                          <ul class="sidebar-submenu">
                            <li><a class="lan-4" href="/report/vehicle_daily"><%=lan.Daily%> <%=lan.Report%></a></li>
                            <li><a class="lan-4" href="/report/ride_payment"><%=lan.Ride%> <%=lan.Payment%> <%=lan.Report%></a></li>
                          </ul>
                        </li>
                      <% }; %>
                    <% }; %>
                    
                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/coupon/list">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 15L15 9M18.9998 7.00006V8.2721C18.9998 8.80253 19.2105 9.31124 19.5856 9.68631L20.4851 10.5858C21.2661 11.3669 21.2661 12.6332 20.4851 13.4142L19.5856 14.3137C19.2105 14.6888 18.9998 15.1975 18.9998 15.7279V17.0001C18.9998 18.1046 18.1043 19.0001 16.9998 19.0001H15.7277C15.1972 19.0001 14.6885 19.2108 14.3134 19.5858L13.414 20.4853C12.6329 21.2664 11.3666 21.2664 10.5856 20.4853L9.68611 19.5858C9.31104 19.2108 8.80233 19.0001 8.2719 19.0001H6.99978C5.89521 19.0001 4.99978 18.1046 4.99978 17.0001V15.7279C4.99978 15.1975 4.78906 14.6888 4.41399 14.3137L3.5145 13.4142C2.73345 12.6332 2.73345 11.3669 3.5145 10.5858L4.41399 9.68632C4.78906 9.31124 4.99978 8.80253 4.99978 8.2721V7.00006C4.99978 5.89549 5.89521 5.00006 6.99978 5.00006H8.27181C8.80225 5.00006 9.31096 4.78935 9.68603 4.41428L10.5856 3.51474C11.3666 2.73369 12.6329 2.73369 13.414 3.51474L14.3135 4.41428C14.6886 4.78935 15.1973 5.00006 15.7277 5.00006H16.9998C18.1043 5.00006 18.9998 5.89549 18.9998 7.00006Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.249 9C9.111 9 8.999 9.112 9 9.25C9 9.388 9.112 9.5 9.25 9.5C9.388 9.5 9.5 9.388 9.5 9.25C9.5 9.112 9.388 9 9.249 9" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.749 14.5C14.611 14.5 14.499 14.612 14.5 14.75C14.5 14.888 14.612 15 14.75 15C14.888 15 15 14.888 15 14.75C15 14.612 14.888 14.5 14.749 14.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
      
                      <span><%=lan.Coupon%></span></a></li>
                    <% } else { %>
                      <% if (per.coupon[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/coupon/list">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 15L15 9M18.9998 7.00006V8.2721C18.9998 8.80253 19.2105 9.31124 19.5856 9.68631L20.4851 10.5858C21.2661 11.3669 21.2661 12.6332 20.4851 13.4142L19.5856 14.3137C19.2105 14.6888 18.9998 15.1975 18.9998 15.7279V17.0001C18.9998 18.1046 18.1043 19.0001 16.9998 19.0001H15.7277C15.1972 19.0001 14.6885 19.2108 14.3134 19.5858L13.414 20.4853C12.6329 21.2664 11.3666 21.2664 10.5856 20.4853L9.68611 19.5858C9.31104 19.2108 8.80233 19.0001 8.2719 19.0001H6.99978C5.89521 19.0001 4.99978 18.1046 4.99978 17.0001V15.7279C4.99978 15.1975 4.78906 14.6888 4.41399 14.3137L3.5145 13.4142C2.73345 12.6332 2.73345 11.3669 3.5145 10.5858L4.41399 9.68632C4.78906 9.31124 4.99978 8.80253 4.99978 8.2721V7.00006C4.99978 5.89549 5.89521 5.00006 6.99978 5.00006H8.27181C8.80225 5.00006 9.31096 4.78935 9.68603 4.41428L10.5856 3.51474C11.3666 2.73369 12.6329 2.73369 13.414 3.51474L14.3135 4.41428C14.6886 4.78935 15.1973 5.00006 15.7277 5.00006H16.9998C18.1043 5.00006 18.9998 5.89549 18.9998 7.00006Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.249 9C9.111 9 8.999 9.112 9 9.25C9 9.388 9.112 9.5 9.25 9.5C9.388 9.5 9.5 9.388 9.5 9.25C9.5 9.112 9.388 9 9.249 9" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.749 14.5C14.611 14.5 14.499 14.612 14.5 14.75C14.5 14.888 14.612 15 14.75 15C14.888 15 15 14.888 15 14.75C15 14.612 14.888 14.5 14.749 14.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        <span><%=lan.Coupon%></span></a></li>
                      <% }; %>
                    <% }; %>
                    
                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/payment">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 13V8H19C20.6569 8 22 9.34315 22 11V17C22 18.6569 20.6569 20 19 20H9C7.34315 20 6 18.6569 6 17V16H15M18 13C18 14.6569 16.6569 16 15 16M18 13V7C18 5.34315 16.6569 4 15 4H5C3.34315 4 2 5.34315 2 7V13C2 14.6569 3.34315 16 5 16H15M4.5 13.5H5.5M14.5 6.5H15.5M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61929 12.5 7.5 11.3807 7.5 10C7.5 8.61929 8.61929 7.5 10 7.5C11.3807 7.5 12.5 8.61929 12.5 10Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      <span><%=lan.Payment%> <%=lan.Setting%></span></a></li>
                    <% } else { %>
                      <% if (per.payment_list[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/payment">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 13V8H19C20.6569 8 22 9.34315 22 11V17C22 18.6569 20.6569 20 19 20H9C7.34315 20 6 18.6569 6 17V16H15M18 13C18 14.6569 16.6569 16 15 16M18 13V7C18 5.34315 16.6569 4 15 4H5C3.34315 4 2 5.34315 2 7V13C2 14.6569 3.34315 16 5 16H15M4.5 13.5H5.5M14.5 6.5H15.5M12.5 10C12.5 11.3807 11.3807 12.5 10 12.5C8.61929 12.5 7.5 11.3807 7.5 10C7.5 8.61929 8.61929 7.5 10 7.5C11.3807 7.5 12.5 8.61929 12.5 10Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        <span><%=lan.Payment%> <%=lan.Setting%></span></a></li>
                      <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/payout">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.75 16.75L19.578 15.3157C20.0553 15.1476 20.6207 15.3064 20.8617 15.7418C21.189 16.3328 20.9025 16.9845 20.3465 17.2016L13.5437 20.1251C12.9874 20.3721 12.3834 20.5 11.7725 20.5C10.997 20.5 10.2361 20.2942 9.57125 19.9048L7.66712 18.7897C7.22767 18.5324 6.5108 18.3881 6 18.37M6 13.75H8.39792C9.27954 13.75 10.1414 14.011 10.875 14.5C11.6086 14.989 12.4705 15.25 13.3521 15.25H14.625C15.2463 15.25 15.75 15.7537 15.75 16.375C15.75 16.9963 15.2463 17.5 14.625 17.5H11.25M4 19H5C5.55228 19 6 18.5523 6 18V14C6 13.4477 5.55228 13 5 13H4C3.44772 13 3 13.4477 3 14V18C3 18.5523 3.44772 19 4 19ZM11 11H19C20.1046 11 21 10.1046 21 9V5C21 3.89543 20.1046 3 19 3H11C9.89543 3 9 3.89543 9 5V9C9 10.1046 9.89543 11 11 11ZM16.5 7C16.5 7.82843 15.8284 8.5 15 8.5C14.1716 8.5 13.5 7.82843 13.5 7C13.5 6.17157 14.1716 5.5 15 5.5C15.8284 5.5 16.5 6.17157 16.5 7Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      <span><%=lan.Payout%> <%=lan.List%></span></a></li>
                    <% } else { %>
                      <% if (per.payout_list[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/payout">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.75 16.75L19.578 15.3157C20.0553 15.1476 20.6207 15.3064 20.8617 15.7418C21.189 16.3328 20.9025 16.9845 20.3465 17.2016L13.5437 20.1251C12.9874 20.3721 12.3834 20.5 11.7725 20.5C10.997 20.5 10.2361 20.2942 9.57125 19.9048L7.66712 18.7897C7.22767 18.5324 6.5108 18.3881 6 18.37M6 13.75H8.39792C9.27954 13.75 10.1414 14.011 10.875 14.5C11.6086 14.989 12.4705 15.25 13.3521 15.25H14.625C15.2463 15.25 15.75 15.7537 15.75 16.375C15.75 16.9963 15.2463 17.5 14.625 17.5H11.25M4 19H5C5.55228 19 6 18.5523 6 18V14C6 13.4477 5.55228 13 5 13H4C3.44772 13 3 13.4477 3 14V18C3 18.5523 3.44772 19 4 19ZM11 11H19C20.1046 11 21 10.1046 21 9V5C21 3.89543 20.1046 3 19 3H11C9.89543 3 9 3.89543 9 5V9C9 10.1046 9.89543 11 11 11ZM16.5 7C16.5 7.82843 15.8284 8.5 15 8.5C14.1716 8.5 13.5 7.82843 13.5 7C13.5 6.17157 14.1716 5.5 15 5.5C15.8284 5.5 16.5 6.17157 16.5 7Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        <span><%=lan.Payout%> <%=lan.List%></span></a></li>
                      <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/faq">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.0498 11.8702L10.6598 13.4802L14.9598 9.18018M20.5761 8.59163L20.1464 6.6577C20.0552 6.24742 19.7629 5.91099 19.3694 5.76341L12.7025 3.26333C12.2497 3.09354 11.7507 3.09354 11.298 3.26333L4.60388 5.77361C4.22732 5.91482 3.9476 6.23675 3.86036 6.62935L3.43304 8.55227C3.14797 9.8351 3.14797 11.1649 3.43304 12.4477C3.80347 14.1146 4.64155 15.6413 5.84898 16.8488L6.56882 17.5686C7.51688 18.5167 8.61159 19.3057 9.81082 19.9053L11.6277 20.8137C11.8622 20.931 12.1382 20.931 12.3728 20.8137L14.6965 19.6519C15.5621 19.2191 16.3689 18.6774 17.0972 18.0401L17.634 17.5704C19.1685 16.2278 20.217 14.4163 20.6168 12.4169C20.8696 11.1529 20.8558 9.85 20.5761 8.59163Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      <span><%=lan.FAQ%> <%=lan.List%></span></a></li>
                    <% } else { %>
                      <% if (per.faq_list[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/faq">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.0498 11.8702L10.6598 13.4802L14.9598 9.18018M20.5761 8.59163L20.1464 6.6577C20.0552 6.24742 19.7629 5.91099 19.3694 5.76341L12.7025 3.26333C12.2497 3.09354 11.7507 3.09354 11.298 3.26333L4.60388 5.77361C4.22732 5.91482 3.9476 6.23675 3.86036 6.62935L3.43304 8.55227C3.14797 9.8351 3.14797 11.1649 3.43304 12.4477C3.80347 14.1146 4.64155 15.6413 5.84898 16.8488L6.56882 17.5686C7.51688 18.5167 8.61159 19.3057 9.81082 19.9053L11.6277 20.8137C11.8622 20.931 12.1382 20.931 12.3728 20.8137L14.6965 19.6519C15.5621 19.2191 16.3689 18.6774 17.0972 18.0401L17.634 17.5704C19.1685 16.2278 20.217 14.4163 20.6168 12.4169C20.8696 11.1529 20.8558 9.85 20.5761 8.59163Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        <span><%=lan.FAQ%> <%=lan.List%></span></a></li>
                      <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/send_notification">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.8293 17C14.9398 17.3128 15 17.6494 15 18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18C9 17.6494 9.06015 17.3128 9.17071 17H14.8293Z" stroke="#fff" stroke-width="1.5" stroke-linejoin="round"/>
<path d="M17.7143 10.4814V8.71428C17.7143 5.55837 15.1559 3 12 3C8.84409 3 6.28571 5.55837 6.28571 8.71428V10.4814C6.28571 11.4464 5.86913 12.3645 5.14286 13L4.70471 13.3834C4.25688 13.7752 4 14.3413 4 14.9364C4 16.0761 4.92391 17 6.0636 17H17.9364C19.0761 17 20 16.0761 20 14.9364C20 14.3413 19.7431 13.7752 19.2953 13.3834L18.8571 13C18.1309 12.3645 17.7143 11.4464 17.7143 10.4814Z" stroke="#fff" stroke-width="1.5" stroke-linejoin="round"/>
</svg>

                        <span><%=lan.Send%> <%=lan.Notification%></span></a></li>
                    <% } else { %>
                      <% if (per.send_notification[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/send_notification">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.8293 17C14.9398 17.3128 15 17.6494 15 18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18C9 17.6494 9.06015 17.3128 9.17071 17H14.8293Z" stroke="#fff" stroke-width="1.5" stroke-linejoin="round"/>
<path d="M17.7143 10.4814V8.71428C17.7143 5.55837 15.1559 3 12 3C8.84409 3 6.28571 5.55837 6.28571 8.71428V10.4814C6.28571 11.4464 5.86913 12.3645 5.14286 13L4.70471 13.3834C4.25688 13.7752 4 14.3413 4 14.9364C4 16.0761 4.92391 17 6.0636 17H17.9364C19.0761 17 20 16.0761 20 14.9364C20 14.3413 19.7431 13.7752 19.2953 13.3834L18.8571 13C18.1309 12.3645 17.7143 11.4464 17.7143 10.4814Z" stroke="#fff" stroke-width="1.5" stroke-linejoin="round"/>
</svg>
                        <span><%=lan.Send%> <%=lan.Notification%></span></a></li>
                      <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/Pages">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.5714 17H16V18.6667C16 19.9553 14.8487 21 13.4286 21H6.57143C5.15127 21 4 19.9553 4 18.6667V9.33333C4 8.04467 5.15127 7 6.57143 7H8V14.6667M10.5714 17C9.15127 17 8 15.9553 8 14.6667M10.5714 17H17.4286C18.8487 17 20 15.9553 20 14.6667V7.4665C20 6.84766 19.7291 6.25417 19.2468 5.81658L16.896 3.68342C16.4138 3.24583 15.7597 3 15.0777 3H10.5714C9.15127 3 8 4.04467 8 5.33333V14.6667M15.6112 3.49988L15.6109 6.33333C15.6109 6.70133 16.0092 7 16.4998 7H19.5001" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      <span><%=lan.Pages%> <%=lan.List%></span></a></li>
                    <% } else { %>
                      <% if (per.page_list[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/Pages">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.5714 17H16V18.6667C16 19.9553 14.8487 21 13.4286 21H6.57143C5.15127 21 4 19.9553 4 18.6667V9.33333C4 8.04467 5.15127 7 6.57143 7H8V14.6667M10.5714 17C9.15127 17 8 15.9553 8 14.6667M10.5714 17H17.4286C18.8487 17 20 15.9553 20 14.6667V7.4665C20 6.84766 19.7291 6.25417 19.2468 5.81658L16.896 3.68342C16.4138 3.24583 15.7597 3 15.0777 3H10.5714C9.15127 3 8 4.04467 8 5.33333V14.6667M15.6112 3.49988L15.6109 6.33333C15.6109 6.70133 16.0092 7 16.4998 7H19.5001" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        <span><%=lan.Pages%> <%=lan.List%></span></a></li>
                      <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/zone/list">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 7.02972C8 6.84645 8.01215 6.66604 8.03567 6.48925L4.4253 7.57236C3.57934 7.82615 3 8.6048 3 9.48801V16.5545C3 17.8814 4.26853 18.8405 5.5452 18.4788L8.1817 17.7318C8.70458 17.5836 9.26523 17.6546 9.73465 17.9284L14.2496 20.5622C14.7283 20.8414 15.3013 20.9095 15.8321 20.7503L19.5747 19.6275C20.4207 19.3737 21 18.5951 21 17.7118V10.688C21 9.34829 19.7085 8.38739 18.4253 8.77236L15.8462 9.5461C15.5924 9.62222 15.3291 9.64637 15.0711 9.62039L12.8882 12.5526M8 7.02972C8 7.94835 8.30512 8.79518 8.81884 9.47297L11.1116 12.5526C11.5557 13.1492 12.444 13.1492 12.8882 12.5526M8 7.02972C8 4.8042 9.79086 3 12 3C14.2091 3 16 4.80414 16 7.02966C16 7.95522 15.6902 8.80791 15.1695 9.48824L12.8882 12.5526M9 10V17.5M15 10V20.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<circle cx="12" cy="7" r="0.5" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                      <span><%=lan.Zone%></span></a></li>
                    <% } else { %>
                      <% if (per.zone[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/zone/list">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 7.02972C8 6.84645 8.01215 6.66604 8.03567 6.48925L4.4253 7.57236C3.57934 7.82615 3 8.6048 3 9.48801V16.5545C3 17.8814 4.26853 18.8405 5.5452 18.4788L8.1817 17.7318C8.70458 17.5836 9.26523 17.6546 9.73465 17.9284L14.2496 20.5622C14.7283 20.8414 15.3013 20.9095 15.8321 20.7503L19.5747 19.6275C20.4207 19.3737 21 18.5951 21 17.7118V10.688C21 9.34829 19.7085 8.38739 18.4253 8.77236L15.8462 9.5461C15.5924 9.62222 15.3291 9.64637 15.0711 9.62039L12.8882 12.5526M8 7.02972C8 7.94835 8.30512 8.79518 8.81884 9.47297L11.1116 12.5526C11.5557 13.1492 12.444 13.1492 12.8882 12.5526M8 7.02972C8 4.8042 9.79086 3 12 3C14.2091 3 16 4.80414 16 7.02966C16 7.95522 15.6902 8.80791 15.1695 9.48824L12.8882 12.5526M9 10V17.5M15 10V20.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<circle cx="12" cy="7" r="0.5" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        <span><%=lan.Zone%></span></a></li>
                      <% }; %>
                    <% }; %>

                    <% if(per == "1") { %>
                      <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/general">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M14.1213 9.87868C15.2929 11.0503 15.2929 12.9497 14.1213 14.1213C12.9497 15.2929 11.0503 15.2929 9.87868 14.1213C8.70711 12.9497 8.70711 11.0503 9.87868 9.87868C11.0503 8.70711 12.9497 8.70711 14.1213 9.87868Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.2043 3.13523L15.8603 3.35349C16.4611 3.55374 16.8672 4.11627 16.8672 4.74966V5.69133C16.8672 6.49236 17.5063 7.146 18.3074 7.16288L19.2502 7.18313C19.7959 7.19438 20.291 7.50827 20.5351 7.99654L20.8445 8.61531C21.128 9.18233 21.0167 9.86636 20.5689 10.3141L19.9028 10.9801C19.3369 11.546 19.3267 12.4607 19.8803 13.039L20.5329 13.7208C20.9109 14.1156 21.0392 14.686 20.8659 15.2047L20.6476 15.8606C20.4473 16.4614 19.8848 16.8675 19.2514 16.8675H18.3096C17.5086 16.8675 16.8549 17.5065 16.838 18.3076L16.8177 19.2503C16.8065 19.796 16.4926 20.291 16.0043 20.5351L15.3855 20.8445C14.8184 21.128 14.1343 21.0167 13.6865 20.5689L13.0205 19.9029C12.4545 19.337 11.5398 19.3268 10.9615 19.8804L10.2797 20.5329C9.88479 20.9109 9.31436 21.0392 8.79568 20.8659L8.13974 20.6476C7.53893 20.4474 7.13276 19.8849 7.13276 19.2515V18.3098C7.13276 17.5088 6.4937 16.8551 5.69262 16.8382L4.74977 16.818C4.20409 16.8067 3.70905 16.4929 3.4649 16.0046L3.15549 15.3858C2.87196 14.8188 2.98335 14.1348 3.43114 13.687L4.09721 13.021C4.66314 12.4551 4.67327 11.5404 4.11971 10.9621L3.46715 10.2804C3.08798 9.88436 2.95972 9.31284 3.13299 8.79532L3.35126 8.13942C3.55153 7.53864 4.11409 7.1325 4.74752 7.1325H5.68924C6.49032 7.1325 7.14401 6.49348 7.16089 5.69245L7.18114 4.74966C7.19464 4.20402 7.50743 3.709 7.99572 3.46487L8.61454 3.15548C9.18159 2.87197 9.86566 2.98335 10.3135 3.43112L10.9795 4.09714C11.5455 4.66304 12.4602 4.67316 13.0385 4.11964L13.7203 3.46712C14.1152 3.09023 14.6868 2.96197 15.2043 3.13523Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              
                      <span><%=lan.Setting%></span></a></li>
                    <% } else { %>
                      <% if (per.setting[0] == "1") { %>
                        <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/settings/general">
                         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M14.1213 9.87868C15.2929 11.0503 15.2929 12.9497 14.1213 14.1213C12.9497 15.2929 11.0503 15.2929 9.87868 14.1213C8.70711 12.9497 8.70711 11.0503 9.87868 9.87868C11.0503 8.70711 12.9497 8.70711 14.1213 9.87868Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.2043 3.13523L15.8603 3.35349C16.4611 3.55374 16.8672 4.11627 16.8672 4.74966V5.69133C16.8672 6.49236 17.5063 7.146 18.3074 7.16288L19.2502 7.18313C19.7959 7.19438 20.291 7.50827 20.5351 7.99654L20.8445 8.61531C21.128 9.18233 21.0167 9.86636 20.5689 10.3141L19.9028 10.9801C19.3369 11.546 19.3267 12.4607 19.8803 13.039L20.5329 13.7208C20.9109 14.1156 21.0392 14.686 20.8659 15.2047L20.6476 15.8606C20.4473 16.4614 19.8848 16.8675 19.2514 16.8675H18.3096C17.5086 16.8675 16.8549 17.5065 16.838 18.3076L16.8177 19.2503C16.8065 19.796 16.4926 20.291 16.0043 20.5351L15.3855 20.8445C14.8184 21.128 14.1343 21.0167 13.6865 20.5689L13.0205 19.9029C12.4545 19.337 11.5398 19.3268 10.9615 19.8804L10.2797 20.5329C9.88479 20.9109 9.31436 21.0392 8.79568 20.8659L8.13974 20.6476C7.53893 20.4474 7.13276 19.8849 7.13276 19.2515V18.3098C7.13276 17.5088 6.4937 16.8551 5.69262 16.8382L4.74977 16.818C4.20409 16.8067 3.70905 16.4929 3.4649 16.0046L3.15549 15.3858C2.87196 14.8188 2.98335 14.1348 3.43114 13.687L4.09721 13.021C4.66314 12.4551 4.67327 11.5404 4.11971 10.9621L3.46715 10.2804C3.08798 9.88436 2.95972 9.31284 3.13299 8.79532L3.35126 8.13942C3.55153 7.53864 4.11409 7.1325 4.74752 7.1325H5.68924C6.49032 7.1325 7.14401 6.49348 7.16089 5.69245L7.18114 4.74966C7.19464 4.20402 7.50743 3.709 7.99572 3.46487L8.61454 3.15548C9.18159 2.87197 9.86566 2.98335 10.3135 3.43112L10.9795 4.09714C11.5455 4.66304 12.4602 4.67316 13.0385 4.11964L13.7203 3.46712C14.1152 3.09023 14.6868 2.96197 15.2043 3.13523Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>              
                        <span><%=lan.Setting%></span></a></li>
                      <% }; %>
                    <% }; %>

                 </ul>
               </li>
             </ul>
           </div>
           <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
         </nav>
       </div>
      </div>

      <input type="hidden" id="rate_sym" value="<%=general.site_currency%>">
      <input type="hidden" id="rate_pla" value="<%=general.currency_placement%>">
      <input type="hidden" id="thousand_replace" value="<%=general.thousands_separator%>">